body {
	background-color: $color-bg;
}

a {
	text-decoration: none;
	color: $color-primary;
	transition: 0.1s linear color;

	&:hover {
		color: lighten($color-primary, 20%);

		.icon {
			background-color: lighten($color-primary, 20%);
		}
	}

	.icon {
		transition: 0.1s linear background-color;
		background-color: $color-primary;

		&:first-child {
			padding-right: 0.2em;
		}

		&:last-child {
			padding-left: 0.2em;
		}
	}
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: $breakpoint-xl - 40px;

	@include size-med() {
		padding: 0 40px;
		max-width: $breakpoint-xl - 80px;
	}

	@include size-lg() {
		padding: 0 80px;
		padding: 0 6vw;
		max-width: $breakpoint-xl - 160px;
	}
}

.icon {
	width: 1em;
	height: 1em;
	display: inline-block;
	background-color: white;
	vertical-align: middle;
	transform: translateY(-8%);
	mask-size: auto 100%; // mask sizing based on the height means you can easily add padding left/right for inserting icons into text, without ruining the sizing
	mask-repeat: no-repeat;
}

@mixin icon($name, $filename: $name) {
	.icon-#{$name} {
		mask-image: url("../images/icon-#{$filename}.svg");
	}
}

@include icon("code");

footer {
	font-size: em(16);
	color: #858999;
	margin-top: 0em;
	padding: 4em 0;

	// right now, the footer content is narrow enough even for an iPhone SE
	// @include size-med() {
		display: flex;
	// }

	> div {
		margin: em(8, 16) 0;

		// @include size-med() {
			margin: 0;
			flex: 1;

			&:last-child {
				text-align: right;
			}
		// }
	}
}
