section {
	padding: 40px 0;

	@include size-med() {
		padding: 60px 0;
	}

	@include size-lg() {
		padding: 80px 0;
	}
}

.section-label {
	@include text-style-secondary();
	font-size: em(17);
	padding-top: em(16, 16);
	border-top: 1px solid #50929a;
	color: #50929a;
	width: 60vw;
	margin-bottom: em(50, 16);

	@include size-med() {
		width: 35vw;
		max-width: 300px;
	}
}

.section-desc {
	margin-bottom: em(40);

	@include size-lg() {
		max-width: 450px;
	}
}

.h1-dimmed {
	color: #d3d5de;
}

.hero {
	align-items: center;

	@include size-lg() {
		display: flex;

		> .hero-image-wrapper {
			display: block;
		}
	}

	p {
		font-size: em(22);

		@include size-xl() {
			font-size: em(22);
		}
	}

	> .hero-image-wrapper {
		display: none;
	}
}

.hero-text {
	flex: 1;

	.hero-image-wrapper {
		width: 75%;
		margin: 0 auto;
		margin-top: -1em;
		margin-bottom: 2em;
		max-width: 300px;
	}

	@include size-lg() {
		padding-right: em(60);

		.hero-image-wrapper {
			display: none;
		}
	}
}

.hero-image-wrapper {
	@include size-lg() {
		flex-basis: 40%;
	}
}

.hero-image {
	// original image is 484 x 400, use ratio to keep outer div in correct proportions
	padding-bottom: 121%;
	background-size: 100%;
	background-repeat: no-repeat;
	@include image("../images/self");
}

.home-role {
	align-items: center;

	@include size-lg() {
		display: flex;
	}
}

.home-role-text {
	flex: 1;
	padding-right: em(60);
}

.home-role-logo {
	width: 146px;
	height: 30px;
	margin-top: em(50);
	background-repeat: no-repeat;
	background-size: 100%;
	@include image("../images/dw-logo");
}

.home-role-images {
	flex-basis: 50%;
	display: flex;
	margin-top: em(80);
	margin-bottom: em(50);
	margin-left: auto;
	margin-right: auto;
	max-width: 450px;

	@include size-med() {
		padding: 0 em(40);
	}

	@include size-lg() {
		padding: em(20) 0;
		max-width: none;
		margin-bottom: em(20);
	}
}

.home-role-images-positioner {
	flex: 1;

	> div {
		width: 100%;
		padding-bottom: 141.49%; // original size is 241x341
		background-repeat: no-repeat;
		background-size: 100%;
		border-radius: 8px;
		box-shadow: 0 8px 34px rgba(0, 0, 0, 0.2);
	}

	&:nth-child(1) {
		transform: scale(1.07) translateY(-3%);
		z-index: 100;

		> div {
			@include image("../images/home-role-screen-1");
		}
	}

	&:nth-child(2) {
		transform: scale(1.07) translateY(3%);

		> div {
			@include image("../images/home-role-screen-2");
		}
	}
}

.home-countries {
	@include size-lg() {
		display: flex;
	}
}

.home-countries-list {
	@include text-style-secondary();
	color: #858999;
	font-size: em(16);

	@include size-lg() {
		margin-right: 8vw;
	}

	@include size-xl() {
		margin-right: 100px;
	}

	ul {
		margin: 0;
		margin-bottom: em(40);
		padding: 0;
		text-align: center;

		@include size-lg() {
			text-align: left;
			margin-bottom: 0;
		}
	}

	li {
		display: inline;
		list-style-type: none;
		margin: 0 em(10);
		padding: 0;
		line-height: 1.7;

		@include size-lg() {
			display: block;
			margin: 0;
		}
	}
}

.home-countries-map {
	flex: 1;
	position: relative;
	margin: 0 -10px;
	margin-bottom: em(30);
}

.home-countries-map-base {
	width: 100%;
	padding-bottom: 49.59%; // original is 793x393
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.5; // should fix this from original file

	@include image("../images/map");
}

@keyframes reveal-map-overlay {
	from {
		bottom: 100%;
	}
	to {
		bottom: 0;
	}
}

.home-countries-map-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 100%;
	background-repeat: no-repeat;
	background-size: 100%;

	@include image("../images/map-colored-overlay");
}

.home-countries-map.-animated .home-countries-map-overlay {
	// steps looks slightly better, but browser support is meh
	animation: reveal-map-overlay 2s 0s forwards;
	animation: reveal-map-overlay 2s 0s steps(50) forwards;
}

.home-bio {
	.section-desc {
		margin-bottom: em(20);
	}
}

.home-bio-main {
	font-size: em(16);

	@include size-lg() {
		column-count: 2;
		column-gap: em(60);
		column-rule-width: 0;

		p:first-child {
			margin-top: 0;
		}
	}
}

.home-speaking-timeline {
	@include size-lg() {
		column-count: 2;
		column-gap: em(60);
		column-rule-width: 0;
		column-break-inside: avoid;
	}
}

.home-speaking-item {
	margin: em(25) 0;

	@include size-med() {
		display: flex;
	}

	@include size-lg() {
		margin: 0;
		padding-bottom: em(
			30
		); // switching to padding with the columns because margin will sometimes add spacing to the top of columns from previous items
	}
}

.home-speaking-item-date {
	@include text-style-secondary();
	color: #858999;
	font-size: em(16);

	@include size-med() {
		margin-right: em(30, 16);
	}
}

.home-speaking-item-desc {
	flex: 1;
}

.home-speaking-item-name {
	font-size: em(19);
}

.home-speaking-item-talk {
	font-size: em(16);
	color: #858999;
}

.home-speaking-item-link {
	// font-weight: 700;
	font-size: em(16);
	margin-top: em(10);
}

@include icon("article");
@include icon("podcast");
@include icon("video");
