section {
	padding: 40px 0;

	@include size-med() {
		padding: 60px 0;
	}

	@include size-lg() {
		padding: 80px 0;
	}
}

.section-label {
	@include text-style-secondary();
	font-size: em(16);
	padding-top: em(16, 16);
	border-top: 1px solid #909ed1;
	color: #909ed1;
	width: 70%;
	max-width: 300px;
	margin-bottom: em(50, 16);
}

.section-desc {
	@include size-lg() {
		max-width: 450px;
	}
}

.h1-dimmed {
	color: #d3d5de;
}

.hero {
	align-items: center;

	@include size-lg() {
		display: flex;
	}

	p {
		font-size: em(22);

		@include size-xl() {
			font-size: em(22);
		}
	}
}

.hero-text {
	flex: 1;
	padding-right: em(60);
}

.hero-image-wrapper {
	flex-basis: 40%;
}

.hero-image {
	// original image is 484 x 400, use ratio to keep outer div in correct proportions
	padding-bottom: 121%;
	background-size: 100%;
	background-repeat: no-repeat;
	@include image("../images/self");
}

.home-role {
	align-items: center;

	@include size-lg() {
		display: flex;
	}
}

.home-role-text {
	flex: 1;
	padding-right: em(60);
}

.home-role-logo {
	width: 146px;
	height: 30px;
	margin-top: em(50);
	background-repeat: no-repeat;
	background-size: 100%;
	@include image("../images/dw-logo");
}

.home-role-images {
	flex-basis: 50%;
	display: flex;
	margin-top: em(80);

	@include size-med() {
		padding: 0 em(40);
	}

	@include size-lg() {
		padding: em(20) 0;
	}
}

.home-role-images-positioner {
	flex: 1;
	border-radius: 8px;
	box-shadow: 0 8px 34px rgba(0, 0, 0, 0.2);

	> div {
		width: 100%;
		padding-bottom: 141.49%; // original size is 241x341
		background-repeat: no-repeat;
		background-size: 100%;
	}

	&:nth-child(1) {
		transform: scale(1.07) translateY(-3%);
		z-index: 100;

		> div {
			@include image("../images/home-role-screen-1");
		}
	}

	&:nth-child(2) {
		transform: scale(1.07) translateY(3%);

		> div {
			@include image("../images/home-role-screen-2");
		}
	}
}
