$color-primary: #60cecb;
$color-bg: #11131b;
$color-text-body: #ccced2;
$color-text-header: #fefefd;

$font-primary: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
	Helvetica, Arial, sans-serif;
$font-secondary: "Inconsolata", Monaco, Courier, monospace;

$breakpoint-med: 480px;
$breakpoint-lg: 820px;
$breakpoint-xl: 1200px;

@mixin size-med {
	@media screen and (min-width: $breakpoint-med) {
		@content;
	}
}
@mixin size-lg {
	@media screen and (min-width: $breakpoint-lg) {
		@content;
	}
}
@mixin size-xl {
	@media screen and (min-width: $breakpoint-xl) {
		@content;
	}
}
