<section class="home-bio">
<div class="section-label">My bio</div>
<h2 class="section-title">A developer turned entrepreneur</h2>
<p class="section-desc">I've spent a decade providing creative vision and strategy to early- and growth-stage startups around the world. As a twenty-something-year-old, that might seem crazy—but I knew early that I had a love for product and technology.</p>
<div class="home-bio-main">
	<p>Growing up as the son of a Creative Director, I was taught basic Photoshop skills at 3 years old, no doubt influencing my passion for design. At 11, I taught myself to code, and a year later, scored my first freelance job building websites and promotional videos. Moving into the startup space, I worked in many creative and programming capacities at early stage startups like Whisk, Meddle, and Datacratic, as well as venture capitalist firms like Alpha Venture Partners.</p>
	<p>After working independently with companies spanning a range of industries including healthcare, big data, and transportation, I found a love for the financial industry and joined the DriveWealth technology team full-time. Combining my background in design and development with my interest in financial services, I've spent the last few years working onsite with some of the most influential fintechs around the world.</p>
	<p>I love public speaking and have appeared at a few TedX events, financial and technical conferences, and educational seminars. You'll also find me watching esports at work after a rough series of landings working on my pilot's license.</p>
</div>
</section>
