<section>
	<div class="section-label">Countries</div>
	<h2 class="section-title">From coast to coast to coast</h2>
	<p class="section-desc">I’ve helped companies of all stages launch products in their local markets around the world.</p>
	<div class="home-countries">
		<div class="home-countries-list">
			<ul>
				<li>New&nbsp;York</li>
				<li>San&nbsp;Francisco</li>
				<li>London</li>
				<li>Hong Kong</li>
				<li>Singapore</li>
				<li>Sydney</li>
				<li>Melbourne</li>
				<li>Amsterdam</li>
				<li>Saõ&nbsp;Paulo</li>
			</ul>
		</div>
		<div class="home-countries-map">
			<div class="home-countries-map-base"></div>
			<div class="home-countries-map-overlay -animated"></div>
		</div>
	</div>
</section>
