<footer>
	<div class="footer-source">
		<a href="https://github.com/jjshammas/johnshammas.com">
			<span class="icon icon-code"></span>
			View source
		</a>
	</div>
	<div class="footer-copyright">
		&copy; John Shammas
	</div>
</footer>
