<header>
	<div class="brand-area">
		<%- require("svg-inline-loader?classPrefix=logo-!../favicon.svg") %>
	</div>
	<div class="header-item header-location">New Jersey, USA</div>
	<div class="header-item">
		<a
			class="email"
			data-user="john"
			data-host="johnshammas"
			data-tld="com"
		></a>
	</div>
</header>
