<section class="hero">
	<div class="hero-text">
		<div class="section-label">About me</div>
		<div class="hero-image-wrapper">
			<div class="hero-image"></div>
		</div>
		<h1>John Shammas<span class="h1-dimmed">:<br />creative leader, strategist, designer, programmer</span></h1>
		<p class="section-desc">I use design and software to help teams solve complex
			business, sales, and financial problems</p>
	</div>
	<div class="hero-image-wrapper">
		<div class="hero-image"></div>
	</div>
</section>
