<section class="home-role">
	<div class="home-role-text">
		<div class="section-label">Current role</div>
		<h2>Investing for everyone</h2>
		<p class="section-desc">I work on product, technology, and sales at DriveWealth, an API-based investment platform powering many of the most influential financial brands worldwide.</p>
		<div class="home-role-logo"></div>
	</div>
	<div class="home-role-images">
		<div class="home-role-images-positioner"><div></div></div>
		<div class="home-role-images-positioner"><div></div></div>
	</div>
</section>
