<!DOCTYPE html>
<html>
	<head>
		<title>John Shammas: Creative Leader and Strategist</title>
		<meta
			name="description"
			content="I use design and software to help teams solve complex business, sales, and financial problems."
		/>
	</head>
	<body>
		<div class="container"><%- require("./partials/header.ejs")() %></div>
	</body>
</html>
